{%extends '../base.html'%}
{%load static%}
{% block title %}Home {%endblock%}
{% block css %}<link rel="stylesheet" href="{% static 'css/info/home.css' %}">{%endblock%}
{% block body %}

<div class="hero">

    <swiper-container class="mySwiper" navigation="true">
        <swiper-slide><img src="{% static 'images/banner1.jpg'%}" alt=""></swiper-slide>
        <swiper-slide><img src="{% static 'images/banner2.jpg'%}" alt=""></swiper-slide>
        <swiper-slide><img src="{% static 'images/banner3.jpg'%}" alt=""></swiper-slide>
        
        
    </swiper-container>
</div>


<div class="container py-5">
  <h1 class="text-center py-4">Offered Courses</h1>
  <div class="py-3">
    <div class="row">
      {% for course in courses %}
      <div class="col-3 p-0 px-2">
        <div class="rounded-3 border shadow-sm">
          <img
            src="{{course.thumbnail.url}}"
            alt="logo"
            style="height: 25vh; width: 100%"
            class="rounded-top-3 mb-2"
          />
          
          <div class="p-3">
            <p><span class="badge  bg-danger">{{course.credit_hour}} credit hours</span></p>
            <h5 class="mb-2">{{course.name}}</h5>
            <p style="text-align: justify">
             {{course.desc}}
            </p>
            <a href="" class="btn btn-sm btn-primary">Learn More</a>
          </div>
        </div>
      </div>
      {% empty %}
      <p>No courses found.</p>
      {% endfor %}
      
    </div>
  </div>
</div>

  <!-- Why -->

  <div class="container py-3">
    <h1 class="text-center py-4">What Make Us Different ? </h1>

    <div class="col-12  ">
      <!-- content -->
      <div class="row mb-3 rounded-3 border shadow-sm ">
        <div class="col-lg-4 p-0">
          <img class="rounded-start-3 " src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 100%; height: 30vh;"  alt="image">
        </div>
        <div class="col d-flex align-items-center">
         <div>
          <h4 class="mb-2" >Weekly Coding Challanges</h4>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere explicabo fugit praesentium rerum provident ducimus distinctio nulla architecto in odio voluptas unde quibusdam nobis illum nisi ipsa harum, maxime blanditiis!
         </div>
        </div>
      </div>

      <div class="row mb-3 rounded-3 border shadow-sm ">
        
        <div class="col d-flex align-items-center px-3">
         <div>
          <h4 class="mb-2" >Weekly Coding Challanges</h4>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere explicabo fugit praesentium rerum provident ducimus distinctio nulla architecto in odio voluptas unde quibusdam nobis illum nisi ipsa harum, maxime blanditiis!
         </div>
        </div>
        <div class="col-lg-4 p-0">
          <img class="rounded-end-3 " src="https://images.unsplash.com/photo-1530099486328-e021101a494a?q=80&w=1547&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width: 100%; height: 30vh;"  alt="image">
        </div>
      </div>

      

      
    </div>
  </div> {%endblock%}
  {% block script %}  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  {%endblock%}