{%for message in messages %}


{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
<div class="container alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <!-- <strong>Alright!</strong> Your Form was submitted successfully -->
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% else %}
    <!-- {{message}} -->
    <div class="container alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Oops!</strong> Something went wrong
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

{%endif%}

{%endfor%}